@model Startersite.Models.ViewModel.ProductsListViewModel
@using Startersite.HtmlHelpers

@{
    ViewBag.Title = "Admin productList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Product list</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th class="text-right">Description</th>
                <th class="text-right">Price</th>
                <th class="text-right">Type</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var el in Model.Products)
            {
                <tr>
                    @Html.HiddenFor(x => el.Id)
                    <td>@Html.RouteLink(el.Name, new { controller = "Admin", action = "EditProduct", productId = el.Id })</td>
                    <td class="text-right">@el.Description</td>
                    <td class="text-right">@el.Price</td>
                    <td class="text-right">@el.Type</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteProduct", "Admin"))
                        {
                            @Html.Hidden("productId", el.Id)
                            <input type="submit" class="btn btn-default btn-xs" value="Remove">
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add product", "AddProduct", "Admin", new { @class = "btn btn-default" })
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProductList", new { page = x }))
    </div>
</div>
