@model OmiconShop.Application.Admin.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Edit Product";
    var id = (int)ViewData["Id"];
}

<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <div class="row">
        <div class="admin-nav-menu col-2">
            @Html.Partial("_AdminNavMenu")
        </div>
        <div class="product-info col-10">
            @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Partial("_ProductDetails", ViewData)
                <div class="row">
                    <div class="col offset-3 submit-product">
                        @Html.Hidden("productId", id)
                        <input type="submit" value="Save" class="btn btn-primary">
                        @Html.RouteLink("Discard changes and go to list", new { controller = "Admin", action = "ProductList" },
                            new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
