@model OmiconShop.Domain.Entities.Order
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "OrderDetails";
}

<h2>@Model.OrderId Order</h2>

@if (User.Identity.IsAuthenticated)
{
    <div>
        @Html.RouteLink("Go to order list page", new { controller = "Admin", action = "OrderList" })
    </div>
}

<div>
    <table>
        <thead>
            <tr>
                <th>Order no.</th>
                <th>Order status</th>
                <th>Shipping method</th>
                <th>Payment method</th>
                <th>OrderDate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderId</td>
                <td>@Model.Status</td>
                <td>@Model.OrderInformation.Delivery</td>
                <td>@Model.OrderInformation.Payment</td>
                <td>@Model.OrderInformation.Date</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>SHIP-TO ADDRESS</th>
            </tr>
        </thead>
        <tbody>
            <tr>@Model.User.UserAddress.Address</tr>
            <tr>@Model.User.UserAddress.Address2</tr>
            <tr>@Model.User.UserAddress.City</tr>
            <tr>@Model.User.UserAddress.Country</tr>
            <tr>@Model.User.UserAddress.ZipCode</tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Item no.</th>
                <th>Title</th>
                <th>Price</th>
                <th>Qty</th>
                <th>UOM</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.BasketLine)
            {
                <tr>
                    <td>@line.ProductId</td>
                    <td>@line.Product.Name</td>
                    <td>@line.Product.Price</td>
                    <td>@line.Qty</td>
                    <td>@line.Uom</td>
                    <td>@(line.Qty * (double)line.Product.Price)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Total $ @Model.OrderInformation.Total</td>
    </table>
</div>

<div>
    @if (User.Identity.Name == "admin" && Model.Status == OmiconShop.Domain.Enumerations.OrderStatuses.Pending)
    {
        @Html.RouteLink("Approve order", new { action = "Approve", controller = "Admin", orderId = Model.OrderId },
            new { @class = "btn btn-primary" })
        @Html.RouteLink("Decline order", new { action = "Decline", controller = "Admin", orderId = Model.OrderId },
            new { @class = "btn btn-primary" })
    }
</div>

