@model OmiconShop.Application.Admin.ViewModel.UserViewModel
@{
    ViewBag.Title = "Your personal details";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="admin-nav-menu">
    @Html.Partial("_AdminNavMenu")
</div>

@using (Html.BeginForm("PersonalInfo", "Admin"))
{
    <div class="change-password">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
        <input type="submit" value="Save changes" class="btn btn-primary">
    </div>
}

