@model OmiconShop.Application.Admin.ViewModel.ProductsListViewModel
@using OmiconShop.WebUI.HtmlHelpers

@{
    ViewBag.Title = "Admin productList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Product list</h3>
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0">
            Find by name: @Html.TextBox("ProductName")
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th class="text-right">Description</th>
                <th class="text-right">Image</th>
                <th class="text-right">Price</th>
                <th class="text-right">Type</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var el in Model.Products)
            {
                <tr>
                    @Html.HiddenFor(x => el.ProductId)
                    <td>@Html.RouteLink(el.Name, new { controller = "Admin", action = "EditProduct", productId = el.ProductId })</td>
                    <td class="text-right">@el.Description</td>
                    <td class="text-right">
                        @if (el.ImageUrl != null)
                        {
                            <img class="img-thumbnail" width="75" height="75"
                                 src="@el.ImageUrl">
                        }
                    </td>
                    <td class="text-right">@el.Price</td>
                    <td class="text-right">@el.Type</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteProduct", "Admin"))
                        {
                            @Html.Hidden("productId", el.ProductId)
                            <input type="submit" class="btn btn-default btn-xs" value="Remove">
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add product", "AddProduct", "Admin", new { @class = "btn btn-default" })
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProductList", new { page = x }))
    </div>
</div>
