@model Startersite.Models.ModelViews.OrderInformation
@{

    ViewBag.Title = "OrderInformation";
}

<h1>Checkout</h1>
<h3>Shipping information</h3>

@using (Html.BeginForm("OrderOverview", "Checkout"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    foreach (var prop in ViewData.ModelMetadata.Properties)
    {
        if (prop.PropertyName != "Id")
        {
            <div class="form-group">
                @Html.Label(prop.PropertyName)

                @if (prop.PropertyName == "Delivery")
                {
                    @Html.EnumDropDownListFor(x => x.Delivery, "Select delivery method", new { @class = "form-control" })
                    continue;
                }

                @if (prop.PropertyName == "Payment")
                {
                    @Html.EnumDropDownListFor(x => x.Payment, "Select Payment method", new { @class = "form-control" })
                    continue;
                }

                @Html.TextBox(prop.PropertyName, null, new { @class = "form-control" })
                @Html.ValidationMessage(prop.PropertyName)
            </div>
        }
    }
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Next">
    </div>
}

