@model Startersite.Models.ModelViews.ShippingInformationModel
@{
    /**/

    ViewBag.Title = "ShippingInformationStep";
}

<h1>Checkout</h1>
<h3>Shipping information</h3>

@using (Html.BeginForm())
{
    foreach (var prop in ViewData.ModelMetadata.Properties)
    {
        <div class="form-group">
            @Html.Label(prop.DisplayName)
            @Html.TextBox(prop.PropertyName, null, new { @class = "form-control" })
        </div>
    }
    @*<div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname)
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Country)
        @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Address)
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Address2)
        @Html.TextBoxFor(x => x.Address2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ZipCode)
        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
    </div>*@
}

