@if (Request.IsAuthenticated)
{
    <text>
        Hello, @Html.RouteLink(User.Identity.Name, new { controller = "Account", action = "ChangePassword" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
    <ul>
        <li>@Html.ActionLink("Cabinet", "Cabinet", "Home")</li>
    </ul>
}
else
{
<ul>
    <li>@Html.RouteLink("Registration", new { controller = "Account", action = "Register" })</li>
    <li>@Html.RouteLink("Login", new { controller = "Account", action = "Login" })</li>
</ul>
}