@model Startersite.Models.Product

<div class="container">
    <table class="table table-hover">
        <tr>
            <td class="text-right">
                @if (Model.ImageData != null)
                {
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action("GetImage", "Admin", new {productId = Model.Id })">
                }
            </td>
            <td>
                @Html.RouteLink(Model.Name, new { controller = "Home", action = "ProductDetails", productId = Model.Id,
                    type = ViewData["Type"], page = ViewData["Page"]})
            </td>
            <td>@Model.Description</td>
            <td>@Model.Price</td>
            <td>
                @using (Html.BeginForm("AddToCart", "Basket"))
                {
                    <div>
                        @Html.Hidden("productId", Model.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart">
                    </div>
                }
            </td>
        </tr>
    </table>
</div>
}
