@model  Startersite.Models.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<section id="changePasswordForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Change Password Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.TextBoxFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.TextBoxFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmNewPassword)
                    @Html.TextBoxFor(m => m.ConfirmNewPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                </li>
            </ol>
            <input type="submit" value="Submit">
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
