@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/wwwroot/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sitejs")
</head>
<body>
    <header>
        @Html.Partial("_NavBar")
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @Html.RouteLink("Personal information", new { controller = "Admin", action = "PersonalInfo" })
            @Html.RouteLink("Orders", new { controller = "Admin", action = "OrderList" })

            @if (User.Identity.Name == "admin@gmail.com")
            {
                @Html.RouteLink("Products", new { controller = "Admin", action = "ProductList" })
            }
        </div>
    }

    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>

    <footer>
        @Html.Partial("_Footer")
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
