@using Microsoft.AspNet.Identity
@model OmiconShop.Application.Account.ViewModel.LoginViewModel

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <span class="navbar-brand">Omicon-shop</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                @Html.RouteLink("All products", new { controller = "Home", action = "ProductsList" },
             new { @class = "nav-link products-link" })<span class="sr-only">(current)</span>
            </li>
        </ul>
        @using (Html.BeginForm("ProductsList", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search" name="productName" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        }

        <ul class="navbar-nav justify-content-lg-end">
            <li class="nav-item">
                <i>
                    @Html.RouteLink(" ", new { controller = "Basket", action = "Index", returnUrl = "Home/ProductsList" },
                   new { @class = "nav-link fas fa-shopping-basket" })<span class="sr-only">(current)</span>
                </i>
            </li>
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fas fa-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <b>@Html.RouteLink("My Account", new { controller = "Admin", action = "PersonalInfo" }, new { @class = "dropdown-item" })</b>
                        <div class="dropdown-divider"></div>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><b>Logoff</b></a>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle login-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div id="target">@Html.Partial("_LoginForm")</div>
                        <div class="dropdown-divider"></div>
                        <b>@Html.RouteLink("Forget the password?", new { controller = "Account", action = "ChangePassword" }, new { @class = "dropdown-item" })</b>
                        <b>
                            @Html.RouteLink("Register", new { controller = "Account", action = "Register" }, new { @class = "dropdown-item" })
                        </b>
                    </div>
                </li>
            }

        </ul>
    </div>
</nav>