@using Microsoft.AspNet.Identity

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="nav-heading">
            <a class="brand" href="#">Omicon-shop</a>
        </div>
        <div class="menu" id="open-navbar1">
            <div>@Html.RouteLink("All products", new { controller = "Home", action = "ProductsList" })</div>

            @if (Request.IsAuthenticated)
            {
                <text>
                    Hello, @Html.RouteLink(User.Identity.Name, new { controller = "Admin", action = "PersonalInfo" })!
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </text>
                <div>
                    @Html.ActionLink("My Account", "PersonalInfo", "Admin")
                </div>
            }
            else
            {
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">@Html.RouteLink("Login", new { controller = "Account", action = "Login" })</a>
                        <a class="dropdown-item">@Html.RouteLink("Register", new { controller = "Account", action = "Register" })</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            }
            <div>@Html.RouteLink("Basket", new { controller = "Basket", action = "Index", returnUrl = "Home/ProductsList" })</div>
        </div>
    </div>
</nav>
