@using Microsoft.AspNet.Identity

<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header d-flex col">
        <span class="navbar-brand">Omicon-shop</span>
        <button type="button" class="navbar-toggle navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a>@Html.RouteLink("All products", new { controller = "Home", action = "ProductsList" })</a>
            </li>
        </ul>
        @using (Html.BeginForm("ProductsList", "Home", FormMethod.Post,
            new { @class = "navbar-form form-inline", role = "search" }))
        {
            <div class="input-group search-box">
                <input type="text" class="form-control" placeholder="Search here..." name="productName" />
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        }

        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item">
                @Html.RouteLink("Basket", new { controller = "Basket", action = "Index", returnUrl = "Home/ProductsList" })
            </li>
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><img src="~/Content/images/login-blue.png"></a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <div class="col-md-12">
                                <div class="bottom text-center">
                                    <a><b>@Html.ActionLink("My Account", "PersonalInfo", "Admin")</b></a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="bottom text-center">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()"><b>Log off</b></a>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item"><p class="navbar-text">Already have an account?</p></li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <div class="col-md-12">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                    new { @class = "form", accept_charset = "UTF-8", id = "login-nav" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    @Html.EditorForModel()
                                    <div class="form-footer"><a>@Html.ActionLink("Forget the password ?", "ChangePassword", "Admin")</a></div>
                                    <input type="submit" value="Login" class="btn btn-primary btn-block">
                                }
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="bottom text-center">
                                New here ? <a><b>@Html.RouteLink("Register", new { controller = "Account", action = "Register" })</b></a>
                            </div>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>