@using Microsoft.AspNet.Identity

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Omicon-shop</span>
        </div>
        <div class="navbar-collapse collapse">
            <div class="d-inline-block">
                <a>@Html.RouteLink("All products", new { controller = "Home", action = "ProductsList" }, new { @class = "nav-link" })</a>
            </div>
            <div class="navbar-form navbar-left d-inline-block">
                @using (Html.BeginForm("ProductsList", "Home", FormMethod.Post, new { role = "search" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="productName" />
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                }
            </div>
            <div class="nav navbar-nav navbar-right d-inline-block">
                @Html.RouteLink("Basket", new { controller = "Basket", action = "Index", returnUrl = "Home/ProductsList" }, new { @class = "nav-link" })
            </div>
            <div class="nav navbar-nav navbar-right d-inline-block">
                @if (Request.IsAuthenticated)
                {
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="~/Content/images/login-blue.png"><span class="caret"></span></a>
                        <div id="login-dp" class="dropdown-menu">
                            <div class="row">
                                <div class="bottom text-center">
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="bottom text-center">
                                    <a><b>@Html.ActionLink("My Account", "PersonalInfo", "Admin")</b></a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="bottom text-center">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()"><b>Log off</b></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-inline-block"><p class="navbar-text">Already have an account?</p></div>
                    <div class="dropdown d-inline-block">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b><span class="caret"></span></a>
                        <div id="login-dp" class="dropdown-menu">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                        new { @class = "form", accept_charset = "UTF-8", id = "login-nav" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @Html.EditorForModel()
                                        <div class="help-block text-right"><a>@Html.ActionLink("Forget the password ?", "ChangePassword", "Admin")</a></div>
                                        <input type="submit" value="Log in">
                                    }
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="bottom text-center">
                                    New here ? <a><b>@Html.RouteLink("Register", new { controller = "Account", action = "Register" })</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>