@model OmiconShop.Domain.Entities.Product
@using OmiconShop.WebUI.HtmlHelpers
@using OmiconShop.Domain.Enumerations

@{
    var selectedUom = UOM.PCS;
}

<div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="image">
                    @if (Model.ImageUrl != null)
                    {
                        <img class="img-thumbnail product-list" src="@Model.ImageUrl">
                    }
                </td>
                <td class="product-name">
                    @Html.RouteLink(Model.Name, new { controller = "Home", action = "ProductDetails", productId = Model.ProductId,
                   type = ViewData["Type"], page = ViewData["Page"]}, new { @class = "badge badge-light" })
                </td>
                <td class="description">@Model.Description</td>
                <td class="price">@((double)Model.Price) $</td>

                @using (Html.BeginForm("AddToCart", "Basket"))
                {
                    <td class="qty">
                        @Html.TextBox("Quantity", 1, new { @class = "form-control", type = "number", step = "1", min = "1" })
                    </td>
                    <td class="uoms">
                        @Html.UomEnumDropdownList("uom", selectedUom, new { @class = "form-control" })
                    </td>
                    <td class="add-to-card">
                        @Html.Hidden("productId", Model.ProductId)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart">
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>