@model OmiconShop.Domain.Entities.Product
@using OmiconShop.WebUI.HtmlHelpers
@using OmiconShop.Domain.Enumerations
@using OmiconShop.Application.Home.ViewModels

@{
    ViewBag.Title = "Product Details";
    var selectedUom = UOM.PCS;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="container-fluid">
    <div>
        @Html.RouteLink("Back to overview", new { action = "ProductsList", controller = "Home", type = ViewData["Type"],
        page = ViewData["Page"]}, new { @class = "badge badge-light" })
    </div>

    <div class="pdp-image">
        @if (Model.ImageUrl != null)
        {
            <img class="pdp-img-thumbnail" src="@Model.ImageUrl">
        }
        else
        {
            <img class="pdp-img-thumbnail" src="~/Content/images/no-image-big.png">
        }
    </div>

    <div class="pdp-description">
        <div class="pdp-description__name"><b>@Model.Name</b></div>
        <div class="pdp-description__itemNo"><b>Item no.:</b> @Model.ProductId</div>
        <div class="pdp-description__price"><b>Price:</b> <span class="pdp-description__price-value">@((double)Model.Price) $</span></div>
        <div class="pdp-description__description"><b>Description:</b> @Model.Description</div>
    </div>

    <div class="pdp-add-to-card-control">
        <div class="pdp-add-to-card-control__qty-label"><span><b>Quantity:</b></span></div>
        @using (Html.BeginForm("AddToCart", "Basket"))
        {
            <div class="pdp-add-to-card-control__qty">
                @Html.TextBox("Quantity", 1, new { @class = "form-control", type = "number", step = "1", min = "1" })
            </div>
            <div class="pdp-add-to-card-control__uom">
                @Html.UomEnumDropdownList("uom", selectedUom, new { @class = "form-control" })
            </div>
            <div>
                @Html.Hidden("productId", Model.ProductId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success btn-lg pdp-add-to-card-control__add-to-card" value="Add to cart">
            </div>
        }
    </div>

    <div id="target">
        @using (Ajax.BeginForm("Comments", "Home", new AjaxOptions
        {
            HttpMethod = "Post",
            UpdateTargetId = "target"
        }))
        {
            @Html.Partial("_Comments", new CommentsViewModel(), ViewData);
            @Html.Hidden("id", Model.ProductId)
            @Html.Hidden("probability", ViewData["productProbability"])
            <input type="submit" class="btn btn-success" value="Send">
        }
    </div>

    <div class="add-this">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
</div>