@model OmiconShop.Domain.Entities.Product
@using OmiconShop.WebUI.HtmlHelpers
@using OmiconShop.Domain.Enumerations

@{
    ViewBag.Title = "ProductDetails";
    var selectedUom = UOM.PCS;
}

<h2>Product Details</h2>

<div>
    @Html.RouteLink("Back to overview", new { action = "ProductsList", controller = "Home", type = ViewData["Type"],
        page = ViewData["Page"]})
</div>

@if (Model.ImageUrl != null)
{
    <div>
        <img class="img-thumbnail" width="75" height="75"
             src="@Model.ImageUrl">
    </div>
}

<div>
    <div>@Model.Name</div>
    <div>Item no.  @Model.Id</div>
    <div>Price: @Model.Price</div>
    <div>Description: @Model.Description</div>
</div>

<div>
    @using (Html.BeginForm("AddToCart", "Basket"))
    {
        <div>
            @Html.TextBox("Quantity", 1, new { @class = "form-control", type = "number", step = "1", min = "1" })
        </div>
        <div>
            @Html.UomEnumDropdownList("uom", selectedUom, new { @class = "form-control" })
        </div>
        <div>
            @Html.Hidden("productId", Model.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart">
        </div>
    }
</div>
