@model  OmiconShop.Application.Account.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="message-success">@ViewBag.Message</p>
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    <section id="changePasswordForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
            <input type="submit" value="Submit" class="btn btn-primary">
        }
    </section>
</div>