@model OmiconShop.Application.Basket.ViewModel.BasketIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Your basket</h2>
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="basketItems">

            @foreach (var el in Model.Basket.Lines)
            {
                <tr id="row-@el.Product.ProductId-@el.Uom">
                    @if (el.Product.ImageUrl != null)
                    {
                        <td>
                            <img class="img-thumbnail" width="30" height="30"
                                 src="@el.Product.ImageUrl">
                        </td>
                    }

                    <td>@el.Product.Name</td>
                    <td>@el.Product.Price</td>
                    @*<td width="80px">
                        @Html.TextBox("Quantity", el.Quantity, new { @class = "form-control", type = "number", step = "1", min = "1"})
                        </td>*@
                    <td>@el.Quantity</td>
                    <td>@(el.Uom)</td>
                    <td>@(el.Quantity * el.Product.Price)$</td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@el.Product.ProductId-@el.Uom">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td id="cart-status" colspan="4">Summary: @Model.Basket.BasketTotal $</td>
            </tr>
        </tfoot>
    </table>
</div>
<div>
    <input id="emptyBasket" class="btn btn-primary" type="button" value="Empty basket">
</div>
<div>
    <a class="btn btn-primary" href="@Model.RetunrUrl">Continue shopping</a>
    @Html.RouteLink("Procceed to checkout", new { action = "OrderInformation", controller = "Checkout" }, new { @class = "btn btn-primary" })
</div>

<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".RemoveLink").click(function () {
            var product = $(this).attr("data-id");
            if (product != null) {
                $.post("Basket/RemoveFromBasket", { "productInfo": product },
                    function (data) {
                        $('#row-' + product).fadeOut('slow');
                        $('#cart-status').text("Summary: " + data.BasketTotal + " $");
                    });
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#emptyBasket").click(function () {
            $.post("Basket/EmptyBasket",
                function (data) {
                    $('#basketItems').empty();
                    $('#cart-status').text("Summary: " + data.BasketTotal + " $");
                });
        });
    });
</script>
