@model OmiconShop.Application.Basket.ViewModel.BasketIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Your basket</h2>
<input class="lines-count" type="hidden" value="@Model.Basket.Lines.Count()">
<div>
    <form>
        <table class="basketItems">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>UOM</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model.Basket.Lines)
                {
                    <tr class="row-@el.Product.ProductId-@el.Uom">
                        <td>
                            @if (el.Product.ImageUrl != null)
                            {
                                <img class="img-thumbnail" width="30" height="30"
                                     src="@el.Product.ImageUrl">
                            }
                        </td>
                        <td>@el.Product.Name</td>
                        <td>@((double)el.Product.Price)</td>
                        <td class="uom" width="80">
                            @*<input type="hidden" name="lines[0].ProductId" value="id" />*@
                            @Html.TextBox(@*"lines[0].Quantity"*@"Quantity", el.Quantity, new { @class = "form-control", type = "number", step = "1", min = "1" })
                        </td>
                        <td>@(el.Uom)</td>
                        <td>@(el.Quantity * (double)el.Product.Price)$</td>
                        <td>
                            <a href="#" class="link-remove" data-id="@el.Product.ProductId-@el.Uom">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="cart-status" colspan="4">Summary: @Model.Basket.BasketTotal $</td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<div>
    <input class="btn btn-primary btn-recalculate" type="submit" value="Recalculate shopping cart" />
</div>

<div>
    <input class="btn btn-primary btn-emptyBasket" type="button" value="Empty basket"/>
</div>
<div>
    <a class="btn btn-primary btn-returnUrl" href="@Model.RetunrUrl">Continue shopping</a>
    @Html.RouteLink("Procceed to checkout", new { action = "OrderInformation", controller = "Checkout" },
        new {@class = "btn btn-primary btn-procceedToCheckout" })
</div>

