@model OmiconShop.Application.Basket.ViewModel.BasketIndexViewModel
@{
    ViewBag.Title = "Shopping cart";
}

<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <input class="lines-count" type="hidden" value="@Model.Basket.Lines.Count()">
    <table class="table table table-sm basket-items col-6">
        <thead>
            <tr>
                <th class="text-center"><b>Product</b></th>
                <th class="text-center"><b>Price</b></th>
                <th class="text-center"><b>Quantity</b></th>
                <th class="text-center"><b>UOM</b></th>
                <th class="text-center"><b>Total</b></th>
                <th class="text-center"><b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model.Basket.Lines)
            {
                <tr class="row-@el.Product.ProductId-@el.Uom">
                    <td class="text-center">@el.Product.Name</td>
                    <td class="text-center">@((double)el.Product.Price) $</td>
                    <td class="text-center">
                        @Html.TextBox("Quantity", el.Quantity, new { @data_product_id = el.Product.ProductId,
                   @data_product_uom = el.Uom, @data_product_price = el.Product.Price,
                   @class = "form-control qty", type = "number", step = "1", min = "1" })
                    </td>
                    <td class="text-center">@(el.Uom)</td>
                    <td class="text-center total-@el.Product.ProductId-@el.Uom">@(el.Quantity * (double)el.Product.Price) $</td>
                    <td class="text-center">
                        <a href="#" class="link-remove" data-id="@el.Product.ProductId-@el.Uom">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="basket-summary">
        <b>Summary:</b><span class="basket-summary__value">@Model.Basket.BasketTotal $</span>
    </div>

    <div class="empty-basket">
        <a class="badge badge-light btn-emptyBasket" href="#">Empty basket</a>
    </div>
    <div class="basket-buttons">
        <a class="badge badge-light btn-returnUrl" href="@Model.ReturnUrl">Continue shopping</a>
        @Html.RouteLink("Procceed to checkout", new { action = "OrderInformation", controller = "Checkout" },
            new {@class = "badge badge-light btn-procceedToCheckout" })
    </div>
</div>