@model Startersite.Models.ModelViews.BasketIndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Your basket</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var el in Model.Basket.Lines)
            {
                <tr>
                    <td>@el.Quantity</td>
                    <td>@el.Product.ProductName</td>
                    <td>@el.Product.Price</td>
                    <td>@(el.Quantity * el.Product.Price)$</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromBasket", "Basket"))
                        {
                            @Html.Hidden("productId", el.Product.ProductId)
                            @Html.HiddenFor(x => x.RetunrUrl)
                            <input class="btn btn-sm btn-warning" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Summary:</td>
                <td>@Model.Basket.BasketTotal()$</td>
            </tr>
        </tfoot>
    </table>
</div>
<div>
    @using (Html.BeginForm("EmptyBasket", "Basket"))
    {
        @Html.HiddenFor(x => x.RetunrUrl)
        <input class="btn btn-primary" type="submit" value="Empty basket">
    }
</div>
<div>
    <a class="btn btn-primary" href="@Model.RetunrUrl">Continue shopping</a>
    @Html.RouteLink("Procceed to checkout", new { action = "OrderInformation", controller = "Checkout" }, new { @class = "btn btn-primary" })
</div>
