@model Startersite.Models.ViewModel.BasketIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Your basket</h2>
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var el in Model.Basket.Lines)
            {
                <tr>
                    @if (el.Product.ImageUrl != null)
                    {
                        <td>
                        <img class="img-thumbnail" width="30" height="30"
                             src="@el.Product.ImageUrl">
                        </td>
                    }

                    <td>@el.Product.Name</td>
                    <td>@el.Product.Price</td>
                    @*<td width="80px">
                        @Html.TextBox("Quantity", el.Quantity, new { @class = "form-control", type = "number", step = "1", min = "1"})
                        </td>*@
                    <td>@el.Quantity</td>
                    <td>@(el.Uom)</td>
                    <td>@(el.Quantity * el.Product.Price)$</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromBasket", "Basket"))
                        {
                            @Html.Hidden("productId", el.Product.Id)
                            @Html.Hidden("returnUrl", Model.RetunrUrl)
                            @Html.Hidden("uom", el.Uom)
                            <input class="btn btn-sm btn-warning" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Summary:</td>
                <td>@Model.Basket.BasketTotal()$</td>
            </tr>
        </tfoot>
    </table>
</div>
<div>
    @using (Html.BeginForm("EmptyBasket", "Basket"))
    {
        @Html.HiddenFor(x => x.RetunrUrl)
        <input class="btn btn-primary" type="submit" value="Empty basket">
    }
</div>
<div>
    <a class="btn btn-primary" href="@Model.RetunrUrl">Continue shopping</a>
    @Html.RouteLink("Procceed to checkout", new { action = "OrderInformation", controller = "Checkout" }, new { @class = "btn btn-primary" })
</div>
